body {
    background-color: #EEEEEE;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;

}

nav {
    background-color: #ffffffe5;
    width: 100vw;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 15%;

}

.Logo {
    background-color: #b4b4b400;
    color: #FF5B28;
    font-size: 20px;

}

ul {
    background-color: #fd7f5900;
    width: 340px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    margin-left: 90px;

}

li {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;

}

a:hover {
    color: #FF5B28;

}


.knappMenu {
    background-color: #b4b4b400;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 270px;
    height: 50px;

}

.om_meg {
    background-color: #FF5B28;
    border: 2px solid #FF5B28;
    color: rgb(255, 255, 255);
    width: 180px;
    border-radius: 15px;

}

.om_meg:hover {
    background-color: #ff997a;
}

#Meny_icon {
    display: none;
}

.bilde {
    background-color: #ffffff00;
    width: 100vw;
    height: 70px;
}

.MenyPhone {
    background-color: #000000;
    width: 100vw;
    height: 200px;
    display: none;
}

.pad {
    background-color: #eeeeee00;
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Ellipse_shape {
    background-image: url('Resusser/bilder/Eup_bil.png');
    /*her legger jeg til bildet i bakgrunnen*/
    width: 75%;
    height: 340px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;


}

.Ellipse_INFO {
    background-color: #b06b6b00;
    width: 87%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15%, 10%;

}

.oveskift_IO {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    width: 350px;
    height: 240px;
    font-size: 35px;
}

.oveskift_TX {
    display: flex;
    justify-content: center;
    background-color: #ffffff00;
    width: 440px;
    height: 240px;
    flex-direction: column;

}

.TX p {
    font-size: 30px;
}

.TX_button {
    background-color: #eeeeee00;
    width: 310px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.TX_Utforsk {
    background-color: #FF5B28;
    border: 2px solid #FF5B28;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 50px;
    display: flex;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}


.TX_omoss {
    background-color: #ffffff00;
    border: 6px solid #ff5a2800;
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: center;
    font-size: 17px;
    align-items: center;

}

.TX_Utforsk:hover {
    background-color: #ffffff00;
    border: 6px solid #FF5B28;
    color: rgb(0, 0, 0);

}

.TX_omoss:hover {
    border: 6px solid #ff5a28;

}

.CardPuss{
    background-color: #00000000;
    
}

.cards{
    background-color: #a9191900;
    width: 100vw;
    height: 430px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    width: 345px;
    height: 370px;
    background-color:#ffffff00;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.card:hover{
    background-color: #f4f4f4;
    border: 2px solid #dedede ;
}


.Bilde_Sow{
    background-image: url('Resusser/bilder/Eup_bil.png');
    border-radius: 30px;
    width: 320px;
    height: 200px;  
    background-position: center;
    background-size: cover;

}

.Infoetype_cd{
    background-color: #ffffff00;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-grow: row;
    gap: 35%;
}

.Pris{
    color: #ff5a28;
}




/* her er info valg */

.bud{
    margin-top: 120px;
    width: 100%;
    background-color: #000000;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bud_info{
    background-color: #000000;
    width: 70vw;
    height: 350px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.bud_infoVLG1{
    border-top: 2px solid #747474 ;
    color: #ffffff;
    width: 100%;
    height: 60px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 75%;
}

.bud_infoVLG2{
    border-top: 2px solid #747474 ;
    color: #ffffff;
    width: 100%;
    height: 60px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 63.2%;
}

.bud_infoVLG3{
    border-top: 2px solid #747474 ;
    color: #ffffff;
    width: 100%;
    height: 60px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 81%;
}

.bud_infoVLG1:hover,
.bud_infoVLG2:hover,
.bud_infoVLG3:hover {
    color: #ff5a28;
}

.salg_bytte{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.salg_ov{
    color: #ff5a28;
}

.salg_tekst{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}


.Kjørsalg{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.service_card{
    background-color: #74747400;
    width: 25vw;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tekstSH{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #797979; 

}

.change_card{
    background-color: #74747400;
    width: 25vw;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #ffffff;
    width: 100vw;
    height: 50px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

/* Når checkboxen er aktivert */
body:has(.måne_icon:hover){
  background: #191919;
  color: white;
}
body:has(.måne_icon:hover) .TX_omoss {
  color: #ffffff;
}
body:has(.måne_icon:hover) .overskriftFRG {
  color: #ff5a28;
}

body:has(.måne_icon:hover) .Rilinfo_cd {
  color: #ffffff;
}
body:has(.måne_icon:hover) .tabellpuss {
    background-color: #000000;
}
body:has(.måne_icon:hover) .th {
    border-top: 2px solid #1c1c1c ;
}



/*ipad*/
@media (max-width: 1086px) {
    ul {
        display: none;
    }

    .måne_icon {
        display: none;
    }

    nav {
        gap: 50%;
    }

    #Meny_icon {
        display: flex;
    }

    .MenyPhone {
        display: flex;
    }
   


}

/*--------------------galleri-------------------------*/

.card2{
    width: 345px;
    height: 370px;
    background-color:#ffffff00;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid rgb(193, 193, 193);
}

.OVSKrift_cd{
    background-color: #00000000;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-grow: row;
    gap: 35%;

}

.OVSKrift_cd h1{
    font-size: 17px;
    margin-top: 15px;

}

.prisdrift_cd{
    background-color: #00000000;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-grow: row;
    gap: 35%;
    
}

.stoff img{
    width: 20px;
   
}
.Pris_bil{
    color: #ff5a28;
    font-size: 20px;
    margin-top: 10px;
}

.valg_cd{
    background-color: #00000000;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-grow: row;
    gap: 10%;
}

.Legg_hanlist{
    background-color: #ff7112;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #ff7112;
    font-size: 15px;
}

.Legg_hanlist:hover{
    background-color: #ff9955;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #ff7112;
    font-size: 15px;
}

.Rilinfo_cd{
    background-color: #ff711200;
    border: 3px solid #ff711200;
    color: #000000;
    width: 190px;
    height: 50px;
    border-radius: 15px;
    
}
.Rilinfo_cd:hover{
    border: 3px solid #ff7112;
    
}
/*--------------------Handlekurv-------------------------*/
.Tabelshow{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabellpuss{
    background-color: #ffffff;
    width: 1100px;
    height: 480px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

table{
    background-color: rgba(196, 47, 47, 0);
    width: 1100px;
    height: 400px;

}

.Overksrift_tabel{
    background-color: #E86413;
    width: 830px;
    padding-right: 100px;
    padding-left: 70px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    gap: 104px;
    color: #ffffff;

}

tr{
    display: flex;
    justify-content: center;
    
}

th{     
    display: flex;
    justify-content: center;
    gap: 110px;
    border-top: 2px solid #c0c0c0 ;
}


.Slet{
    background-color: #E61919;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}